{% extends "base.html" %}

<!DOCTYPE html>

{% block content %}

    <head>
    	<h1 id="headWelcome">Welcome ...</h1>
    	<div>&nbsp;</div>
    </head>

    <body>
    	<h4>... to <a href="/">theWorkingComputer.com</a>, your source for computer stuff that works</h4>
        <hr>
        <h3>About us:</h3>
        <h4>the Working Computer is a (very) small company dedicated, as the 
        little banner below suggests, to making computers work for people.  
        This happens via IT and web services and products for individuals with 
        traumatic brain injuries or developmental disabilities.  We also make 
        web, mobile, and desktop applications in other areas we find interesting, 
        such as music, mathematics, and computer gaming.</h4>
        <h3>Technology:</h3>
        <h4>We like Python! and we use it for everything we can, including</h4>
        <h4>this WebSite (Flask).We also work in Clojure, Android, and Javascript,
        <h4>and are considering the merits of porting to the Iphone/Ipad.</h4>
        <h4>We work and live in New Hampshire, USA.</h4>
        <h3><a href="mailto:contact@theworkingcomputer.com?subject=Email from webpage">Contact us</a></h3>
    	<h4>Computers should work for people,</h4>
    	<h4>not the other way around.</h4>
        <hr>
    </body>    
    

{% endblock content %}