{% extends "base.html" %}

<!DOCTYPE html>

{% block content %}

    <head>
    	<h1 id="headWelcome">Welcome ...</h1>
    	<div>&nbsp;</div>
    </head>

    <body>
    	<h4>... to <a href="/">theWorkingComputer.com</a>, your source for computer stuff that works</h4>
        <div>&nbsp;</div>
        <hr>
        <h3><u>Disability Services</u></h3>
        <h4><a href="home">the Working Computer</a> came out of a need for 
        specialized computer products for people with disabilities.</h4>

        <h4>We make, install, and support custom software and <a href="itservices">
        hardware </a>solutions</h4>

        <h4>for PC and Android systems, including phones, tablets, desktops, 
        and laptops.</h4> 

        <h4>Please <a href="mailto:contact@theworkingcomputer.com?subject=disability svcs">
        contact us</a> for a free, respectful, and fun consultation!</h4>

    	<div>&nbsp;</div>
    	<hr>
    	<h3>Computers should work for people,</h3>
    	<h3>not the other way around.</h3>
        <hr>
    </body>    
    

{% endblock content %}