{% extends "base.html" %}

<!DOCTYPE html>

{% block content %}

    <head>
    	<h1 id="headWelcome">Welcome</h1>
    	<div>&nbsp;</div>
    </head>

    <body>
    	<h4>... to <a href="/">theWorkingComputer.com</a>, your source for computer stuff that works</h4>
    	<div>&nbsp;</div>
    	<h4>"Sometimes I want a book to break loose with a bunch of hooptedoodle. . . . Spin up some pretty words maybe or sing a little song with language. That's nice. But I wish it was set aside so I don't have to read it. I don't want hooptedoodle to get mixed up with the story."--John Steinbeck,  <i>Sweet Thursday</i></h4>
    	<div>&nbsp;</div>
    	<hr>
    	<h3>Computers should work for people,</h3>
    	<h3>not the other way around.</h3>
        <hr>
    </body>    
    

{% endblock content %}